body {
  margin: 0px;
  font-family: "fira sans", arial, sans-serif;
  color: #2d2d2d;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.verde{
  color: #13E1BC
}
.subtitulo{
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}
